$images: ../../../../../all/themes/haml_basic/images/
$fonts: ../../../../../all/themes/haml_basic/fonts/

$site_width: 940px

#page
    margin:
        left: auto
        right: auto
    width: $site_width

#header
    width: $site_width
    height: 150px
    #logo-title
        height: 100px
        #logo
            float:left
        #name-and-slogan
            float: left
    #header-region

    #menu

        width: $site_width
        height: 50px
        float: left
    h2
        display: none
    li
        display: block
        float: left

#highlighted

#main_top
    float: left
    width: $site_width - 20
    padding: 10px
#main
    padding: 10px
    float: left
    width: $site_width - 20
        
#main_bottom

#footer
