%div.node.clear-block(id="node-#{$node->nid}")
    - if (!$page)
        %h2.node-title
            %a(href="#{$node_url}" title="#{$title}")= $title
    -# Content
    .content.clear-block= render($content)
