-# Full Page
.clearfix#page
    -# Page header
    #header
        #logo-title
            #logo
                %a(href="#{$front_page}")
                    %img(src="#{$logo}")
            #header-region= render($page['header'])
      
        #menu= render($page['menu'])


    -# Highlighted
    - if ($tabs)        
        #highlighted = render($page['highlighted'])

    -# Top content      
    - if(render($page['main_top']))
        .clarfix#main_top = render($page['main_top'])


    -# Title
    #main-title
        %h2.title#page-title= $title


    -# Main Content
    #main
        #content
            = $messages, render($help)
            - if ($tabs)
                .tabs
                    %ul.tabs-primary= render($tabs)
                    %ul.tabs-secondary= render($tabs2)            
            #content-content= render($page['content'])
            = $feed_icons

    #footer
        #footer-region
            =render($page['footer'])
